@include font-face($base-font, $base-font-family, $base-font-folder);
@include font-face($alternate-font, $alternate-font-family, $base-font-folder);

html {
    width: 100%;
    overflow-x: hidden;
    font-size: $base-font-size;
    font-size: $base-font-size / 16px * 100%;
    @include tablet {
        font-size: $base-font-size / 16px * 95%;
    }
    @include mobile {
        font-size: $base-font-size / 16px * 90%;
    }
    @include mobile-portrait {
        font-size: $base-font-size / 16px * 85%;
    }
    text-size-adjust: 100%;
}

body {
    @include body-font;
    -webkit-font-smoothing: antialiased;
    background: $c-text-background;
    // @include simple-gradient($c-color-1);

    @include above-mobile {
        @include font-s;
    }
}

@keyframes hue {
    from {
      filter: hue-rotate(0deg);
    }    
    to {
      filter: hue-rotate(360deg);
    }
}


.app {
    
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: pointer;
    // background: linear-gradient(to bottom right, $c-primary,$c-primary-lighter);
    // animation: hue 30s infinite linear;
}
.bubble {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    white-space: normal;
    width: 100%;
    height: 100%;
    transform: none;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    /*
    &.color-1 {
        @include simple-gradient($c-color-1);
    }
    &.color-2 {
        @include simple-gradient($c-color-2);
    }
    &.color-3 {
        @include simple-gradient($c-color-3);
    }
    &.color-4 {
        @include simple-gradient($c-color-4);
    }
    &.color-5 {
        @include simple-gradient($c-color-5);
    }
    &.color-6 {
        @include simple-gradient($c-color-6);
    }
    &.color-7 {
        @include simple-gradient($c-color-7);
    }
    &.color-8 {
        @include simple-gradient($c-color-8);
    }
    &.color-9 {
        @include simple-gradient($c-color-9);
    }
    &.color-10 {
        @include simple-gradient($c-color-10);
    }
    */
    background-color: $c-text-background;
    opacity: 1;

}

.bubble.is-animated {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    overflow: hidden;
    transition: all .5s ease;
    transform: scale(2);

    &.animate-out {
        opacity: 0;
        transform: scale(0.1);
        overflow: hidden;
    }
    &.animate-in {
        opacity: 1;
        transform: scale(1);
    }
}

.stage {
    padding: 5%;
    h1 {
        @include font-l;
        padding-bottom: 20px;

        @include above-mobile {
            @include font-xl;
        }

        @include above-desktop-plus {
            @include font-xxl;
        }
    }
    .translation {
        color: $c-text-alternate;
    }
}

.credits {
    padding: 5%;
    color: $c-text-primary;
}