/* Mediaqueries */

$mq-mobile-portrait    : 400px !default;
$mq-mobile-narrow      : 580px !default;
$mq-mobile             : 750px !default;
$mq-tablet-portrait    : 900px !default;
$mq-tablet             : 1050px !default;
$mq-desktop            : 1382px !default;
$mq-desktop-plus       : 1600px !default;


@mixin mobile-portrait {
    @media (max-width : $mq-mobile-portrait) {
        @content;
    }
}
@mixin above-mobile-portrait {
    @media (min-width : ($mq-mobile-portrait + 1px)) {
        @content;
    }
}
@mixin mobile-narrow {
    @media (max-width : $mq-mobile-narrow) {
        @content;
    }
}
@mixin above-mobile-narrow {
    @media (min-width : ($mq-mobile-narrow + 1px)) {
        @content;
    }
}
@mixin mobile {
    @media (max-width : $mq-mobile) {
        @content;
    }
}
@mixin above-mobile {
    @media (min-width : ($mq-mobile + 1px)) {
        @content;
    }
}
@mixin tablet-portrait {
    @media (max-width : $mq-tablet-portrait) {
        @content;
    }
}
@mixin above-tablet-portrait {
    @media (min-width : ($mq-tablet-portrait + 1px)) {
        @content;
    }
}
@mixin tablet {
    @media (max-width : $mq-tablet) {
        @content;
    }
}
@mixin above-tablet {
    @media (min-width : ($mq-tablet + 1px)) {
        @content;
    }
}
@mixin above-desktop-plus {
    @media (min-width : ($mq-desktop-plus + 1px)) {
        @content;
    }
}


/* Colors */

@mixin simple-gradient($color) {
    background: linear-gradient(to bottom right, $color, darken($color, 10%));
}



/* Fonts */

@mixin font-face($style-name, $file, $family) {
  $filepath: "../fonts/" + $family + "/" + $file;
  @font-face {
    font-family: $style-name;
      src: url('#{$filepath}.eot');
      src: url('#{$filepath}.eot?#iefix') format('embedded-opentype'),
           url('#{$filepath}.woff') format('woff'),
           url('#{$filepath}.ttf') format('truetype'),
           url('#{$filepath}.svg##{$style-name}') format('svg');
  }
}


@mixin font-weight($weight){
  font-weight: normal;
  @if $weight == “bold” {
      font-weight: bold;
  }
}

@mixin font-size($px) {
  font-size: ($px);
  font-size: px2rem($px);
  @if $px < 16px {
      @include mobile {
          font-size: 16px;
          font-size: px2rem(16px);
      }
  }
}

@mixin body-font {
  font-family: $base-font;
  @include font-size($base-font-size);
  line-height: $base-line-height;
  color: $c-text-primary;
}



// Heading
@mixin font-xxl {
  font-family: $alternate-font;
  @include font-size(100px);
  line-height: 1.05;
}

@mixin font-xl {
  font-family: $alternate-font;
  @include font-size(90px);
  line-height: 1.15;
}

@mixin font-l {
  font-family: $alternate-font;
  @include font-size(40px);
  line-height: 1.16;
}

@mixin font-m {
    font-family: $alternate-font;
    @include font-size(36px);
    line-height: 1.16;
}


// Copy
@mixin font-s {
  @include font-size(30px);
  line-height: 1.5;
}
